body
{
    font: 20px sans-serif;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: black;
    text-decoration: none;
}

a
{
    color: black;
    text-decoration: none;
}

header
{
    font-size: 2em;
    text-align: center;
}

input.toggle-cat-view:checked ~ .cat-toggle > label > img
{
    transform: rotate(90deg);
}

input.toggle-cat-view:checked ~ .cat-display > .cat-item
{
    display: block;
    width: auto;
    height: auto;
    border: 1px solid lightgrey;
    border-radius: 0;
    max-width: 800px;
}

input.toggle-cat-view:checked ~ .cat-display > .cat-item > .cat-item-image
{
    width: 100%;
    height: 66.66%;
}

input.toggle-cat-view:checked ~ .cat-display > .cat-item > .cat-item-image img
{
    border-radius: 0;
}

input.toggle-cat-view:checked ~ .cat-display > .cat-item .cat-item-descr-more
{
    display: block;
}

input.toggle-cat-view:checked ~ .cat-display > .cat-item .cat-item-descr-age,
input.toggle-cat-view:checked ~ .cat-display > .cat-item .cat-item-descr-breed,
input.toggle-cat-view:checked ~ .cat-display > .cat-item .cat-item-descr-ill
{
    display: none;
}

.cat-display
{

    text-align: center;
}

.cat-item
{
    display: inline-block;
    width: 500px;
    height: 520px;
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    color: dimgray;
    text-align: initial;
}

.cat-item:hover
{
    box-shadow: 0 3px 3px 3px grey;
    color: black;
}

.cat-item-image
{
    width: 500px;
    height: 333px;
}

.cat-item-image img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
}

.cat-item-descr
{
    padding: 10px;
}

.cat-item-descr h2
{
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cat-item-descr p
{
    margin: 0;
}

.cat-item-descr-name:hover
{
    font-style: italic;
}

.cat-item-descr-more
{
    display: none;
}

.cat-item-descr-status
{
    margin: 1em 0 !important;
}
